@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

.artist {
    background: $background;
    margin: 15px 0;
    color: #FFFFFF;
    width: 100%;
    position: relative;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.nameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.name {
    font-size: 2rem;
}

.indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
    
    .indicatorItem {
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .2s;

        &::before, &::after {
            content: '';
            width: 15px;
            height: 1.5px;
            background-color: #FFFFFF;
            display: inline-block;
            position: absolute;
        }

        &::before {
            transform: rotate(90deg);
        }

        &::after {
            transform: rotate(180deg);
        }
    }
}

.indicatorOpened {
    .indicatorItem {
        transform: rotate(135deg);
        transition: all .2s;
    }
}

.icons_hidden {
    max-height: 0;
    transition: all .3s;
    display: flex;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;

    .link {
        overflow: hidden;
        max-height: 0;
    }

    .icon {
        height: 45px;

        &:hover {
            transform: scale(1.1);
        }
    
        transition: all .3s;
    }
}

.icons_visible {
    max-height: 50px;
    padding: 0 20px 20px;
    overflow: visible;

    .link {
        overflow: visible;
        max-height: 45px;
    }

    .icon {
        height: 45px;
        animation: toVisible .5s;

        &:hover {
            transform: scale(1.1);
        }
    
        transition: all .3s;
    }
}

.link {
    margin: 0 15px 0 0;
    transition: all .3s;
}

@include small {
    .artist {
        width: 540px;
    }
}

@keyframes toVisible {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
