@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    z-index: 2;
    opacity: 0;
    pointer-events: none;

    &_visible {
        opacity: 1;
    }
}

.toast {
    height: 40px;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: all .3s;
    padding: 20px;
}

.message {
    color: $text;
    white-space: nowrap;
}

@include medium {
    .container {
        width: 50vw;
    }
}
