@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

@mixin defaultLogoStyles {
    color: $text;
    font-size: clamp(5rem, 8vw, 6rem);
    line-height: clamp(5rem, 8vw, 6rem);
    cursor: pointer;
    z-index: 1;
    transition: 0.3s all ease;
    font-weight: 700;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.content, .info {
    width: 100%;
    min-height: 100vh;
    padding: calc(10vw / 2) calc(16vw / 2);
    box-sizing: border-box;
    position: relative;
}

.info {
    background-color: $background;
    display: flex;
    flex-direction: column;
    padding: calc(60px + 3%) 8vw 0;
}

.content {
    background-image: url(../../../assets/img/bg-grid.svg);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.contentData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all .3s;
}

.logoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText {
    @include defaultLogoStyles;
    transition: 0.3s all ease;
  
    &:hover {
      transform: translate(3px, -3px);
    }
}

.logoTextBg {
    @include defaultLogoStyles;
    pointer-events: none;
    position: absolute;
    color: blue;
    z-index: 0;
}

.bgPic {
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    position: absolute;
    animation: infiniteRotation 60s infinite alternate-reverse;
    pointer-events: none;
}

@include medium {
    .container {
        display: flex;
        max-height: 100vh;
    }

    .content, .info {
        min-width: 50vw;
        max-width: 50vw;
        padding: 0 4vw;
    }

    .content {
        max-height: 100vh;
        height: 100vh;
        overflow: hidden;
    }
}

@keyframes infiniteRotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
