@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
    width: 100%;
    min-height: 100vh;
}

.content, .info {
    width: 100%;
    min-height: 100vh;
    padding: calc(10vw / 2) calc(16vw / 2);
    box-sizing: border-box;
    position: relative;
}

.info {
    background-color: $background;
    display: flex;
    flex-direction: column;
}

.content {
    background-image: url(../../../assets/img/bg-grid.svg);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.contentData {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all .3s;
}

@include medium {
    .container {
        display: flex;
        max-height: 100vh;
    }

    .content, .info {
        min-width: 50vw;
        max-width: 50vw;
        padding: 0 4vw;
    }

    .content {
        max-height: 100vh;
        height: 100vh;
        overflow: hidden;
    }
}
