@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 84vw;
    max-width: 84vw;
}

.content {
    background-color: $background;
    padding: calc(16vw / 2);
    box-sizing: border-box;
    max-width: 540px;
}

.text {
    color: #FFFFFF;
    font-size: 16px;
    display: inline-block;

    &:not(:last-of-type) {
        margin-bottom: 1.5rem;
    }
}

@include medium {
    .container {
        min-width: 42vw;
        max-width: 42vw;
    }

    .content {
        max-width: unset;
    }

    .text {
        font-size: 18px;
    }
}
