@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

@mixin defaultLogoStyles {
    color: $text;
    font-size: clamp(5rem, 8vw, 6rem);
    line-height: clamp(5rem, 8vw, 6rem);
    cursor: pointer;
    z-index: 1;
    transition: 0.3s all ease;
    font-weight: 700;
}

.bgPic {
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    position: absolute;
    animation: infiniteRotation 60s infinite alternate-reverse;
    pointer-events: none;
}

.logoText {
    @include defaultLogoStyles;
    transition: 0.3s all ease;
  
    &:hover {
      transform: translate(3px, -3px);
    }
}

.logoTextBg {
    @include defaultLogoStyles;
    pointer-events: none;
    position: absolute;
    color: blue;
    z-index: 0;
}

@keyframes infiniteRotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
