@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 84vw;
    margin: 0 16vw;
}

.content {
    box-sizing: border-box;
    max-width: 540px;
    width: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

@include medium {
    .container {
        min-width: 42vw;
        max-width: 42vw;
        margin: 0 4vw;
    }

    .content {
        max-width: unset;
        max-height: 100vh;
    }
}
